@charset "utf-8";
/* CSS Document */


*{
	box-sizing: inherit;
	margin: 0px;
	padding: 0px;
}

html {
	font-size: 62.5%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
	background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5));
	background-size:cover;
}
header{
	position: fixed; /* cố định trên top*/
	width: 100%;
	min-height: 50px;
	background: cover;
	background-color: #fff;
	background-position: center;
}

.header {
	display:  flex;
	align-items:  center; 
	z-index: 1;
}

.header img{
	width: 50px;
	height: 50px;
	padding-left: 5px;
	border-radius: 25px;
	display: inline-block;
}

.menu{
	flex: 3;
	text-align: center;
}

.menu ul li{
	list-style: none;
	display: inline-block;
	margin: 0px 10px 0px 10px;
	padding-left: 25px;
	position: relative;
}

.menu ul li a{
	text-decoration: none;
	color: black;
	font-size: 20px;
	padding-bottom: 5px;
	position: relative;
	cursor: pointer;
}

.animation::after{
	content: '';
	position: absolute;
	width: 100%;
	height: 1px;
	left: 0;
	bottom: 0;
	background: black;
}
.animation::after{

	transform: scale(0,1);
	transition: transform 0.3s ease-in-out
}

.animation:hover::after{

	transform: scale(1,1)
}


.main
{
	padding: 100px 20px 0 20px;
}

.layout{
	display: grid;
	grid-template-columns: 30% 70%;
	margin-bottom: 32px;
}

.layout img
{
	border-radius: 25px;
	transition: transform 0.3s linear;
}
.layout-left {
	position: relative;
}

.sblayout
{
	display: grid;
	grid-template-columns: auto auto auto;
	margin-left: 68px;
	grid-row-gap: 100px;
}

.sblayout > div{
	text-align: center;
}


.anh1{
	position: sticky;
	z-index: -1;
	margin: 0 60px 0px 20px;
	top: 100px;
	width: 100%;
	box-sizing: border-box;
}

.anh4{
	height: 320px;
	width: 320px;
}


.sblayout img:hover{
	transform: scale(1.2);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
}

.end
{
	display: flex;
	justify-content: center;
	margin: 100px 0;
}

.end a {
	text-decoration: none;
	outline: none;
}

.end img{
	border-radius: 25px;
	width: 250px;
	height: 250px;
}

.sb{
	align-self: center;
	text-align: center;
	font-size: 1.6rem;
	transition: all 0.3s linear;
}

.sb:hover{
	font-size: 1.8rem;
}

footer{
	width: 100%;
	height: 100px;
	background-color: #fff;
	color: #333;
	padding: 10px 0px 10px 10px; 
	box-sizing: border-box;
}
footer p{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1.6rem;
	transition: all 0.3s linear;
}

footer p:hover{
	color: #222;
}

.grif_mn
{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: minmax(20px, auto);
}


